% -*- Erlang -*-
% vim: ts=4 sw=4 et ft=erlang
{deps,[
    %% Packages
%%    rebar,
%%    {rebar,"1.0.0"},
%%    {rebar, {pkg, rebar_fork}}, % rebar app under a different pkg name
%%    {rebar, "1.0.0", {pkg, rebar_fork}},
%%    %% Source Dependencies
%%    {rebar, {git, "git://github.com/erlang/rebar3.git"}},
%%    {rebar, {git, "http://github.com/erlang/rebar3.git"}},
%%    {rebar, {git, "https://github.com/erlang/rebar3.git"}},
%%    {rebar, {git, "git@github.com:erlang/rebar3.git"}},
%%    {rebar, {hg, "https://othersite.com/erlang/rebar3"}},
%%    {rebar, {git, "git://github.com/erlang/rebar3.git", {ref, "aef728"}}},
%%    {rebar, {git, "git://github.com/erlang/rebar3.git", {branch, "master"}}},
%%    {rebar, {git, "git://github.com/erlang/rebar3.git", {tag, "3.0.0"}}},
%%    %% Source dependencies (git only) in subdirectories, from version 3.14 onwards
%%    {rebar, {git_subdir, "git://github.com/erlang/rebar3.git", {branch, "main"}, "subdir"}},
%%    {rebar, {git_subdir, "git://github.com/erlang/rebar3.git", {tag, "3.14"}, "sub/dir"},
%%        {rebar, {git_subdir, "git://github.com/erlang/rebar3.git", {ref, "aeaefd"}, "dir"}
]}.

{erl_opts, [
%%    nowarn_deprecated_type
]}.

%%{pre_hooks, [
%%    {"linux|bsd|darwin|solaris", compile, "escript ./support/crypto_compat.escript"}
%%    , {"win32", compile, "escript.exe support/crypto_compat.escript"}
%%]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}]}
    ]},
    {native, [
        {erl_opts, [{native, {hipe, o3}}]}
    ]},
    {test, [
        {deps, [meck]},
        {erl_opts, [debug_info]}
    ]}
]}.

%% == Directories ==

%% directory for artifacts produced by rebar3
%% 由' rebar3 '生成的工件目录
{base_dir, "./../quant_release"}.

%% directory in '<base_dir>/<profile>/' where deps go
%% deps所在的目录'<base_dir>/<profile>/
{deps_dir, "./../deps"}.

%% where rebar3 operates from; defaults to the current working directory
%% ' rebar3 '操作的位置;默认为当前工作目录
{root_dir, "."}.

%% where checkout dependencies are to be located
%% 签出依赖项位于哪里
{checkouts_dir, "_checkouts"}.

%% where, under <base_dir>/<profile> checkout dependencies are to be built
%% 在哪里，在<base_dir>/<profile>签出依赖是要构建的
{checkouts_out_dir, "checkouts"}.

%% directory in '<base_dir>/<profile>/' where plugins go
%% 插件所在的目录'<base_dir>/<profile>/'
%%{plugins_dir, "plugins"}.

%% directories where OTP applications for the project can be located
%% 可以定位项目的OTP应用程序的目录
{project_app_dirs, ["apps/*", "lib/*", "."]}.

%% Directories where source files for an OTP application can be found
%% 可以在其中找到OTP应用程序源文件的目录
{src_dirs, ["src","src/*"]}.

%% Paths to miscellaneous Erlang files to compile for an app
%% without including them in its modules list
%% 要为应用程序编译的各种Erlang文件的路径不将它们包含在模块列表中
{extra_src_dirs, []}.

%% Path where custom rebar3 templates could be found
%% 可以找到自定义' rebar3 '模板的路径
{template_dir, []}.

%%{template, "src/core.app.src", "{{appdir}}/src/{{name}}.app.src"}.